<html>
	<head th:replace="base/head :: head('Agregar nueva persona')"></head>

	<body>
	<body>
	<div class="container">
		<center><h1>Agregar persona</h1></center>
	
		<form action ="" method="post">
		 <div class="col-8 mx-auto form-group">
		    <label for="primerNombre">Primer Nombre</label>
		    <input type="text" class="form-control" id="primerNombre" placeholder="Ingresar Primer Nombre">
	 	 </div>
	 	 
		 <div class="col-8 mx-auto form-group">
		    <label for="segundoNombre">Segundo Nombre</label>
		    <input type="text" class="form-control" id="segundoNombre" placeholder="Ingresar Segundo Nombre">
	 	 </div>
	 	 
	 	 <div class="col-8 mx-auto form-group">
		    <label for="primerApellido">Primer Apellido</label>
		    <input type="text" class="form-control" id="primerApellido" placeholder="Ingresar Primer Apellido">
	 	 </div>	 
	 	 	 
	 	 <div class="col-8 mx-auto form-group">
		    <label for="segundoApellido">Segundo Apellido</label>
		    <input type="text" class="form-control" id="segundoApellido" placeholder="Ingresar Segundo Apellido">
	 	 </div>	 	
	 	  
	 	 <div class="col-8 mx-auto form-group">
		    <label for="tipoDoc">Tipo de Documento</label>
		    <input type="text" class="form-control" id="tipoDoc" placeholder="Ingresar Tipo de Documento">
	 	 </div>
	 	 
	 	 <div class="col-8 mx-auto form-group">
		    <label for="numeroDoc">Número de documento</label>
		    <input type="text" class="form-control" id="numeroDoc" placeholder="Ingresar Número de Documento">
	 	 </div>
	 	 
	 	 <div class="col-8 mx-auto form-group">
		    <label for="fechaNacimiento">Fecha de Nacimiento</label>
		    <input type="date" class="form-control" id="fechaNacimiento" placeholder="Ingresar Fecha de Nacimiento">
	 	 </div>
	 	 
	 	 <div class="col-8 mx-auto form-group">
		    <label for="estado">Estado</label>
		    <input type="text" class="form-control" id="estado" placeholder="Ingresar Estado">
	 	 </div>
	 	 <div class="col-8 mx-auto">
	 	 <button type="button" id="success" class="btn btn-primary btn-lg btn-block">Enviar Datos</button>
	 	 </div>	
		
		</form>
	</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    	<script type="text/javascript" th:src="@{/src/jquery/persona/persona.js}"></script>
	</body>
</html>