<html>
	<head>
	</head>
	<body>
		<h1>Hola Mundo</h1>
		
		<table>
			<thead>
				<tr>
					<th> Id </th>
				<th> PrimerNombre </th>
				<th> SegundoNombre </th>
				<th> PrimerApellido </th>
				<th> SegundoApellido </th>
				<th> TipoDocumento </th>
				<th> NumeroDoc </th>
				<th> FechaNacimiento </th>
				<th> Estado </th>
				<th> FechaCreacion </th>
				<th> FechaActualizacion </th>	
				</tr>
			</thead>
			<tbody>
			
			<tr th:each="item: ${personaList}"> 
				<td th:text="${item.id}"> Id </td>
				<td th:text="${item.primerNombre}"> PrimerNombre </td>
				<td th:text="${item.segundoNombre}"> SegundoNombre </td>
				<td th:text="${item.primerApellido}"> PrimerApellido </td>
				<td th:text="${item.segundoApellido}"> SegundoApellido </td>
				<td th:text="${item.tipoDoc}"> TipoDocumento </td>
				<td th:text="${item.numeroDoc}"> NumeroDoc </td>
				<td th:text="${item.fechaNacimiento}"> FechaNacimiento </td>
				<td th:text="${item.estado}"> Estado </td>
				<td th:text="${item.fechaCreacion}"> FechaCreacion </td>
				<td th:text="${item.fechaActualizacion}"> FechaActualizacion </td> 
			</tr>
			
			</tbody>
			 
		</table>
		
	</body>
</html>