<!DOCTYPE html>
<html>
<head th:fragment="head(title)">
<title th:text="${title}">Title</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<h2 style="text-align: center;">INGRESE DATOS DE LA PERSONA</h2>
		<form action="" class="form-horizontal" id="Form">
			<div class="form-group">
				<label class="control-label col-sm-2">ID</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="id"
						placeholder="ID de la Empresa" disabled>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">Primer Nombre</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="primerNombre"
						placeholder="Inserte su Primer Nombre">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">Segundo Nombre</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="segundoNombre"
						placeholder="Inserte su segundo Nombre">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Apellido Paterno</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="primerApellido"
						placeholder="Inserte su Primer Apellido">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Apellido Materno</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="segundoApellido"
						placeholder="Inserte su Segundo Apellido">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">Telefono</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="tipoDoc"
						placeholder="Inserte su tipo de documento">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">DNI</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="numeroDoc"
						placeholder="Inserte el numero de documento" maxlength="8">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Fecha de Nacimiento</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" id="fechaNacimiento"
						placeholder="YYYY-MM-DD">
				</div>
			</div>
			<button id="agregar" type="submit" class="btn btn-dark center">GUARDAR</button>
			<input type="button" id="limpiar" class="btn btn-success center"
				value="LIMPIAR">
			<button id="eliminar" type="button" class="btn btn-primary center">ELIMINAR</button>
			<button id="actualizar" type="button" class="btn btn-warning center">EDITAR</button>
			<button id="refrescar" type="button" class="btn btn-danger center">REFRESCAR</button>
		</form>
	</div>

	<div class="container">
		<h1>LISTADO</h1>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Item</th>
						<th scope="col">ID</th>
						<th scope="col">Nombre Completo</th>
						<th scope="col">DNI</th>
					</tr>
				</thead>
				<tbody id="tableBody">
					<tr th:each="item: ${personaList}">
						<td><input type="checkbox" class="select" value=""
							th:id="${item.id}" /></td>
						<td scope="row" th:text="${item.id}"></td>
						<td
							th:text="${item.primerNombre + ' ' + item.segundoNombre + ' ' +  item.primerApellido + ' ' + item.segundoApellido}"></td>
						<td th:text="${item.numeroDoc}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript"
		src="http://code.jquery.com/jquery-2.1.0.js"></script>
	<script type="text/javascript"
		src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

	<script type="text/javascript">
		$('#validate-me-plz').validate();
	</script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript"
		th:src="@{/src/jquery/persona/persona.js}"></script>
</body>
</html>