<!DOCTYPE html>
<html>
<head th:fragment="head(title)">
<title th:text="${title}">EMPRESA</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
	<body>
			<br>
	<div class="container">
		<h2 style="text-align: center;">INGRESO DE DATOS DE LA EMPRESA</h2>
		<form action="" class="form-horizontal" id="Form">
			<div class="form-group">
				<label class="control-label col-sm-2">ID</label>
				<div class="col-sm-10">
					<input type="text"  class="form-control" id="id"
						placeholder="ID de la Empresa" disabled>
				</div>
			</div>
			<br>
			<div class="form-group">
				<label class="control-label col-sm-2">Razón Social</label>
				<div class="col-sm-10">
				 	<input type="text" data-rule-required="true" data-msg-required="Ingresa-Razon-Social" class="form-control" id="razonSocial"
						placeholder="Inserte la Razón Social" maxlength="50">
						<p id="razonSoc" style="color:red;"></p>
				</div>
			</div>
			<br>
			<div class="form-group">
				<label class="control-label col-sm-2">Número RUC</label>
				<div class="col-sm-10">
					<input  type="number" class="form-control" id="numeroRuc"
						placeholder="Inserte el numero de RUC" maxlength="11">
						<p id="numerRuc" style="color:red;"></p>
				</div>
			</div>
			<br>

			<div class="form-group">
				<label class="control-label col-sm-2">Fecha de Creación</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" id="fechaCreacion"
						placeholder="YYYY-MM-DD">
				</div>
			</div>
			<br>
			
		<div class="form-group">
				<label class="control-label col-sm-2">Condición</label>
				<div class="col-sm-10">
					<select type=text class="form-control" id="condicion">
  						<option value="Activo">Activo</option>
  						<option value="Inactivo">Inactivo</option>
					</select>
				</div>
			</div>	
			<br>


			<div style="text-align: center;">
				<button id="agregar" type="button" class="btn btn-success center">GUARDAR</button>
				<!-- <input type="reset" id="reset" value="Limpiar" class="btn btn-success center" > -->
				<input type="button" id="limpiar" class="btn btn-success center" value="LIMPIAR">
			</div>
	<hr/>
			<div style="text-align: left;">
				<button id="eliminar" type="button" class="btn btn-success center">ELIMINAR</button>
				<button id="actualizar" type="button" class="btn btn-warning center">EDITAR</button>
				<button id="refrescar" type="button" class="btn btn-danger center">REFRESCAR</button>
				<button id="validar" type="button" class="btn btn-danger center">VALIDAR</button>
			</div>
		</form>
	</div>
	<hr/>
	<div class="container">
		<h1>RESUMEN</h1>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Item</th>
						<th scope="col">ID</th>
						<th scope="col">Nombre-Empresa</th>
						<th scope="col">RUC</th>
					</tr>
				</thead>
				<tbody id="tableBody">
					<tr th:each="item: ${empresaList}">
						<td><input type="checkbox" class="select" value="" th:id="${item.id}"/></td>
						<td scope="row" th:text="${item.id}"></td>
						<td th:text="${item.razonSocial}" ></td>
						<td th:text="${item.numeroRuc}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript"
		th:src="@{/src/jquery/empresa/empresa.js}"></script>
	</body>
</html>