<!DOCTYPE html>
<html>
<head th:replace="base/head :: head('Agregar Persona')"></head>
<body>
	<br>
	<div class="container">
		<h2>DATOS DE LA CLIENTE FORMULARIO</h2>
		<form action="" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2">Nombre</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="nombre"
						placeholder="Nombre">
				</div>
			</div>
			<br>

			<div class="form-group">
				<label class="control-label col-sm-2"> Apellido Paterno</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="apellidop"
						placeholder="Apellido Paterno">
				</div>
			</div>
			<br>
			<div class="form-group">
				<label class="control-label col-sm-2">Apellido Materno</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="apellidom"
						placeholder="Apellido Materno">
				</div>
			</div>
			<br>
			<div class="form-group">
				<label class="control-label col-sm-2">Telefono</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="telefono"
						placeholder="Telefono">
				</div>
			</div>
			<br>
			<div class="form-group">
				<label class="control-label col-sm-2">Direccion</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="direccion"
						placeholder="Direccion">
				</div>
			</div>

			<br>
			<button id="success" type="button" class="btn btn-primary btn-lg">Agregar</button>
			<button type="button" class="btn btn-secondary btn-lg">Actualizar</button>
			<button type="button" class="btn btn-secondary btn-lg">Eliminar</button>
		</form>
	</div>
	<div class="container">
		<h1>Cliente Test</h1>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido Paterno</th>
						<th scope="col">Apellido Materno</th>
						<th scope="col">Telefono</th>
						<th scope="col">Direccion</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${personaList}">
						<th scope="row" th:text="${item.id}">Id</th>
						<td th:text="${item.nombre}">NOmbre</td>
						<td th:text="${item.apellidop}">Apellido p</td>
						<td th:text="${item.apellidom}">Apellido M</td>
						<td th:text="${item.telefono}">Telefono</td>
						<td th:text="${item.direccion}">Direccion</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript"
		th:src="@{/src/jquery/clientetest/clientetest.js}"></script>
</body>
</html>