<!DOCTYPE html>
<html>
<head th:replace="base/head :: head('Compra Automoviles')"></head>
<body>
	<div class="container-fluid">
		
		<h1> Comprar Automóvil </h1>
		<div class="row">
			<div class="form-group col-lg-6">
		    	<label for="autos">Selecione Automóvil</label>
		    	<select class="form-control" id="autos">
		      		<option th:each = "item: ${automoviles}" th:id="${item.id}" th:text="${item.modelo}"></option>
		    	</select>
  			</div>
  			<div class="col-lg-6 fixed-bottom" style="text-align: center;">
  				<button type="button" class="btn btn-dark">Dark</button>
  			</div>
		</div>
		
		<br>
		<table class="table" id="-detalle_auto">
			<thead class="thead-dark">
				<tr>
					<th scope="col"> Id </th>
					<th scope="col"> Marca </th>
					<th scope="col"> Modelo </th>
					<th scope="col"> Color </th>
					<th scope="col"> Placa  </th>
					<th scope="col"> Fabricación </th>
					<th scope="col"> Fecha de Creacion </th>
					<th scope="col"> Fecha Actualizacion </th>
				</tr>
			</thead>
			<!--<tbody>
				<tr th:each = "item: ${empresaList}">
					<th scope="row" th:text = "${item.id}"></td>
					<td th:text="${item.ruc}"></td>
					<td th:text="${item.razonSocial}" ></td>
					<td th:text="${item.direccion}"></td>
					<td th:text="${item.rubro}"></td>
					<td th:text="${item.telefonoContacto}"></td>
					<td th:text="${item.fechaCreacion}"></td>
					<td th:text="${item.fechaActualizacion}"></td>
				</tr>
			</tbody>-->
		</table>
	</div>
</body>
</html>